- panel_back_path [:edit, :cms, resource.slider]

.row
  = render 'cms/shared/image_drop_zone'
  .pull-right
    = simple_form_for [:cms, resource], remote: true do |f|
      = f.input :name, input_html: { class: 'span8'}
      = f.input :description, input_html: { class: 'span8'}
      .form-actions.row
        .span8= f.button :submit, "save", class: 'btn-primary pull-right'