= form_for [:admin, parent_resource, Asset.new].compact, html: { id: "fileupload", multipart: true } do |f|
  .fileupload-buttonbar
    .row
      .span14.offset1
        %button.btn.fileinput-button
          %i.icon-plus.icon-white
          Add Files
          = f.file_field :asset_path, multiple: true
        %button.btn.start{type: "submit"}
          %i.icon-upload.icon-white
          Upload
        .btn-group.pull-right
          %button.btn.btn-danger.delete{type: "button"}
            %i.icon-trash.icon-white
          .btn.btn-danger.dropdown-toggle
            %input.toggle{type: "checkbox"}
  .row
    .span14.offset1
      .well
        %table.table.table-striped
          %tbody.files
        #loading


= render 'admin/assets/template-errors'
= render 'admin/assets/template-upload'
= render 'admin/assets/template-download'