%table.table.table-striped  
  %colgroup
    %col
    - attributes.each do |attr|
      %col
    %col.action_links

  %thead
    %tr
      %th{ scope: 'col' }
      - attributes.each do |attr|
        = content_tag :th, th(attr), scope: 'col', class: column_type(attr)
      %th{ scope: 'col' }

  %tbody{ class: position_class, data: { position_url: position_url }}
    - collection.each do |resource|
      %tr[resource]
        %td= positioning_handle
        - attributes.map do |attr|
          = content_tag :td, td(resource, attr), class: column_type(attr)
        %td
          .action_links.clearfix
            = link_to 'show',    resource_path(resource),      class: 'icon-file   ir', remote: true
            = link_to 'edit',    edit_resource_path(resource), class: 'icon-pencil ir', remote: true
            = link_to 'destroy', resource_path(resource),      class: 'icon-trash  ir', remote: true, method: :delete, confirm: "Are you sure?" 
          
= will_paginate collection, remote: true