- content_for :head do
  %title= title "CartoCMS"
  %meta{ :name => "description", :content => "CartoCMS" }/

- stylesheet 'CartoCMS/application'

- javascript 'CartoCMS/application'

- content_for :content do
  %section.container.site-wide
    = render 'layouts/admin/navbar' if admin_signed_in?

    %section
      = render 'layouts/admin/resource_actions' unless devise_controller?
      = content_for?(:body) ? yield(:body) : yield

= parent_layout 'boilerplate'