- content_for :head do
  %title= content_for?(:title) ? "CartoCMS: #{yield(:title)}" : "CartoCMS"
  %meta{ :name => "description", :content => "CartoCMS" }/
  %meta{ :name => "author", :content => "New Cartographers Creative" }/
  
- stylesheet 'CartoCMS/application'
  
- content_for :content do
  %section#application
    %header
      %h1= yield(:title) if show_title?
      %nav.horizontal
        %ul
          %li
        
        
  = content_for?(:body) ? yield(:body) : yield
                
= parent_layout 'boilerplate'