.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %h1.pull-left
        %span Carto
        %span CMS
      %nav
        %ul.nav.pull-right
          %li.dropdown
            = resource_dropdown_link
            %ul.dropdown-menu
              = menu_links CartoCMS.cms_resource_menu_items
              %li.divider
              = menu_links CartoCMS.app_resource_menu_items
          %li.dropdown
            = dropdown_link content_tag(:i, '', class: 'icon-cog-big')
            %ul.dropdown-menu
              = menu_links CartoCMS.utility_menu_items, hide_current: false
              - if can? :manage, :all
                %li= link_to 'Users', cms_users_path
                %li= link_to 'Settings', cms_setting_connections_path
              %li= link_to 'Profile', edit_user_registration_path
              %li.divider
              %li= link_to 'Logout', destroy_user_session_path, method: :delete