#user-show.row
  .well.span14.offset1
    #header.clearfix
      %h2
        = resource.email
      #stats.clearfix
        #sign-in.pull-left
          = resource.sign_in_count
          %span SIGN-INS
        %ul#session.pull-right
          %li
            %span.name Last Session
            %span.date= resource.last_sign_in_at.strftime('%_m %b %H:%M')
            %span.ip= resource.last_sign_in_ip
          %li
            %span.name Current Session
            %span.date= resource.current_sign_in_at.strftime('%_m %b %H:%M')
            %span.ip= resource.current_sign_in_ip
    %hr
    #resets.clearfix
      #password_reset.span6.offset1
        %h3 Password Reset
        %ul
          %li
            %strong.label RESET PASSWORD SENT AT
            %p= resource.reset_password_sent_at || "Not Specified"
          %li
            %strong.label RESET PASSWORD TOKEN
            %p= resource.reset_password_token || "Not Specified"
        = link_to 'RESEND TOKEN', '#', class: 'btn pull-right'
      #failed_attempts.span5.offset2
        %h3= "Failed Attempts (#{resource.failed_attempts})"
        %ul
          %li
            %strong.label LOCKED AT
            %p= resource.locked_at || "Not Specified"
          %li
            %strong.label UNLOCK TOKEN
            %p= resource.unlock_token || "Not Specified"
        = link_to 'RESEND TOKEN', '#', class: 'btn pull-right'
    %hr