- content_for(:extra_scripts) { javascript_include_tag("carto_simple_ace_input") }

.form.row
  = simple_form_for [:cms, @page], html: { class: 'span14 remote_submittable' } do |f|
    %fieldset.publish.clearfix
      = f.input  :publish_date, wrapper_html: { class: 'pull-left' }, input_html: { class: 'span3 date', data: { parsing_pattern: '%m/%d/%y' }}
      = f.input  :publish_time, wrapper_html: { class: 'pull-left' }, input_html: { class: 'span3 time', data: { parsing_pattern: '%I:%M %P' }}
      = f.button :submit, "PUBLISH NOW", class: 'pull-left', id: 'publish'
      = f.button :submit, "SAVE",        class: 'btn-primary pull-right'
    %hr
    %fieldset
      = f.input  :title, input_html: { class: 'span14'}
      = f.input  :body,  input_html: { class: 'span14'}, label: false, as: :ace, ace: { mode: 'html' }
    %hr
    .details
      %label.summary Advanced Options
      %fieldset.path.hidden-content
        #virtual-filepath-inputs.clearfix
          = f.input :path,    wrapper_html: { class: 'pull-left' }, input_html: { class: 'writer'}
          = f.input :locale,  wrapper_html: { class: 'pull-left' }, input_html: { class: 'writer width-auto select-button'}, as: :select, include_blank: false, collection: Page::LOCALES
          = f.input :format,  wrapper_html: { class: 'pull-left' }, input_html: { class: 'writer width-auto select-button'}, as: :select, include_blank: false, collection: Page::FORMATS
          = f.input :handler, wrapper_html: { class: 'pull-left' }, input_html: { class: 'writer width-auto select-button'}, as: :select, include_blank: false, collection: Page::HANDLERS
          .control-group.pull-left
            = f.label :partial
            .boolean_toggler
              = f.check_box  :partial, class: 'writer'
              = f.label      :partial, @page.partial.to_s
          - unless current_page?(action: 'new')
            = f.button :submit, "UPDATE", class: 'pull-right', id: 'update_filepath'
        %dl#virtual-filepath.prepend
          %dt  Virtual Filepath
          %dd= %w(path locale format handler).map { |p| content_tag :span, nil, id: "#{@page.class.to_s.downcase}_#{p}" }.join('.').html_safe

= link_to_modal 'assets', '#', id: 'action_link', class: 'btn'
= render partial: 'cms/assets/uploader-modal', layout: 'layouts/modal'

